/* CONTENT */
#page {

}


#content {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    width: 90%;
}

#content-twocolumns{
    float: left;
    text-align: center;
    color: black;
    width: 68%;
    margin-left: 1%;
    margin-right: 1%;
}

#content-threecolumns {
    color: black;
    width: 38%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Titillium Web", sans-serif;
    color: #00558a;
    margin-top: 0;
    margin-bottom: .5rem;
    font-style: normal;
    font-weight: 400;
}

table {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

thead {
    color: #ffffff;
    background-color: #00558a;
}

input[type=button], input[type=submit], input[type=reset], button {
    display: inline;
    width: auto;
    text-align: center;
    margin-left: auto;
    padding: 0.5rem 0.75rem;
    background-color: #00558a;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    border: none;
    overflow: visible;
}

@media (max-width: 800px) {
    input[type=button], input[type=submit], input[type=reset], button {
        padding: 8px 8px;
        font-size: 10px;
    }
}

.tablesize {
    width: 100% !important;
    font-size: smaller;
}

@media (max-width: 1950px) {
    .tablesize {
        font-size: 60%;
    }
}

@media (max-width: 1250px) {

    #content {
        margin-right: 5%;
        margin-left: 5%;
    }

    #content-twocolumns {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}

.firstSelect {
    width: 98%;
}

.select {
    margin-left: 2.5%;
    float: left;
    width: 70%;
}

.row input {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    float: left;
    line-height: 1.5;
    width: 25%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 0;
}