/* FOOTER */
.footer_ecran {
    color: #ffffff;
    background-color: #00558b;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    min-height: 5vh;
}

.footer_custom {
    width: 100%;
}

.footer_alert_etudiant {
    position: sticky;
    bottom: 0;
}
.footer_alert {
    padding: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.footer_weather {
    padding: 0;
    min-width: 34%;
}

.footer_alert_television {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
}

.footer_weather_television {
    min-width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
}
