/* FOOTER */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer div {
    display: block;
}

#footer-left {
     bottom: 0;
     left: 0;
     position: fixed;
     float: left;
     width: 70%;
 }

#footer-right {
    bottom: 0;
    right: 0;
    position: fixed;
    float: left;
    width: 30%;
}

#footer_left {
    bottom: 0;
    left: 0;
    position: fixed;
    float: left;
    width: 30%;
}

#footer_right {
    bottom: 0;
    right: 0;
    position: fixed;
    float: left;
    width: 70%;
}

@media (max-width: 1000px) {
    #footer-left {
        width: 100%;
    }

    #footer-right {
        display: none;
    }
}