/* HEADER */
header {
    width: 100%;
    background-color: #00558b;
    color: #ffffff;
    border-bottom: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

header a img {
    margin-left: 4vw;
    float: left;
    width: auto;
    height: 5vw;
}

header a.logo-tv {
    display: flex;
    justify-content: space-around;
    float: none;
    width: auto;
    margin-left: 0;
}

header a.logo-tv img {
    height: 15vh;
}

.icon {
    padding: 5px 0 0 15px;
}

a.icon {
    float: left;
    color: #ffffff;
    font-size:3vw;
    display: block;
    text-decoration: none;
    text-underline: none;
}

a.icon:hover {
    color: #ffffff;
}

nav.menu {
    width: 30%;
    text-transform: uppercase;
    padding: 0;
}

nav.menu ul {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    list-style-type:none;
    overflow: hidden;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #00558a;
    width: 60%;
}

nav.menu ul li {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

nav.menu a {
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav.menu a:hover {
    color: #ffffff;
}

.menu-item, .menu-item a, .dropbtn {
    display: block;
    letter-spacing: .1rem;
    font-size: .80rem;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.menu-item_dropdown-content {
    background-color: #ffffff;
}

.menu-item_dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu-item_dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-item_dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color:#00558a;
}

.menu-item_dropdown-content a:hover {
    color:#00558a !important;
}

.menu-item_dropdown:hover .menu-item_dropdown-content {
    display: block;
}

/*@media screen and (max-width: 1190px) {*/

    .menu a:not(:first-child), .menu-item_dropdown .dropbtn, a.menu-item {
        display: none;
    }

    .menu-item, .menu-item a, .dropbtn {
        display: block;
        letter-spacing: .1rem;
        font-size: .80rem;
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
    }

    .menu-item_dropdown-content {
        background-color: #ffffff;
    }

    .menu-item_dropdown .dropbtn {
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .menu-item_dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu-item_dropdown-content a {
        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        color:#00558a !important;
    }

    .menu-item_dropdown-content a:hover {
        color:#00558a !important;
    }

    .menu-item_dropdown:hover .menu-item_dropdown-content {
        display: block;
    }

    .menu.responsive {
        position: relative;
    }

    .menu.responsive .icon {
        text-align: left;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: white;
    }

    .menu.responsive .menu-item_dropdown {
    }

    .menu.responsive .menu-item_dropdown-content {
        left: 60%;
    }

    .menu.responsive .menu-item_dropdown .dropbtn {
        display: block;
        text-align: left;
    }
/*}*/

@media (max-width: 800px) {

    .menu_ham {
        width: 15vw;
    }

    header a img {
        width: 60vw;
        height: auto;
    }
}