/* HEADER */
header {
    background-color: #00558b;
    color: #ffffff;
    margin: 0;
}

header a img {
    width: 50vh;
    height: auto;
}
.logo {
    display: flex;
    justify-content: space-around;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4F4F4;
    text-align: center;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu .icon {
    display: none;
}

.menu-item {
    width: 14.28%;
    float: left;
    background: inherit;
    padding: 0;
    margin: 0;
}

.menu-item, .menu-item a, .dropbtn {
    display: block;
    letter-spacing: .1rem;
    font-size: .80rem;
    text-decoration: none;
    font-weight: bold;
    color: #00558a;
}

header .menu-item_dropdown-content a {
    color: #000000;
}

.menu-item_dropdown-content {
    background-color: #ffffff;
}

.menu-item_dropdown {
    float: left;
    overflow: hidden;
}

.menu-item_dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu-item_dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-item_dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.topnav a:hover, .drop_down:hover .dropbtn {

}

.menu-item_dropdown-content a:hover {

}

.menu-item_dropdown:hover .menu-item_dropdown-content {
    display: block;
}

@media screen and (max-width: 1150px) {
    .menu a:not(:first-child), .menu-item_dropdown .dropbtn {
        display: none;
    }
    .menu a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 1150px) {
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .icon {
        text-align: left;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .menu.responsive .menu-item_dropdown {
        float: none;
    }
    .menu.responsive .menu-item_dropdown-content {
        position: relative;
    }
    .menu.responsive .menu-item_dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .menu-item{
        width: 100%;
    }
}