body.login {
    background-color: #FAFAFA;
    background-image: url("../images/bg_amu.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
body.login div#login {
    width: 35%;
}

@media only screen and (max-device-width: 1000px){
    body.login div#login {
        width: 100%;
    }
}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {
    background-color: #E6E6E6;
    border-radius: 3%;
    border:2px solid darkgrey;
}
body.login div#login form#loginform:before {
    content:"Service d'authentification";
}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {
}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {
}
body.login div#login form#loginform p.submit input#wp-submit {
}
body.login div#login p#nav {

}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {
    display: none;
}

body.login div#login p#message {
    background-color: #E6E6E6;
}

body.login div#login form#lostpasswordform {
    background-color: #E6E6E6;
    border-radius: 3%;
    border:2px solid darkgrey;
}